.header {
    background-color: black;
    margin-top: 0px;
    position: relative;
}
li {
   font-size: large;
   text-transform: capitalize;
    display: inline-block;
    margin-left: 40px;
    margin-top: 100px;
    color: white;
}

.logo {
   
    margin-left: 90px;
    display: inline-block;
margin-top: 5px;

}

.list {
    display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 400px;
  z-index: 1;
}
 .btn {
   text-transform: capitalize;
    background-color: black;
    border: 1px solid  white;
color: white;
border-radius: 30px;
padding: 20px;
 }


 .btn2 {
    text-transform: capitalize;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 30px;
    padding: 20px;
 }
 .btn2>img {
    width: 10px;
    height: 10px;
   background-color: white;
    margin-left: 5px;

 }
  
.text {
    background-color: black;
    color: white;
    text-align: center;
   font-size:60px;
}

.minitext {
    background-color: black;
    color: white;
    text-align: center;
   font-size:20px;
}

.img3 {
    color:black;
}
 
.btn3 {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 35px;
    padding-top: 20px;
}


 
.grey {
    background-color: hsla(0, 0%, 0%, 0.863);
    color: gainsboro;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    

}

.logotxt {
    font-weight: bolder;
    font-size:60px;
    color: white;
}

.btns {
    margin-bottom: 50px;
}

* {
    background-color: black;
}

.franchise {
    color: white;
    font-size: 30px;

 margin-top: 100px;
 margin-left: 100px;

display:flex;
}

#adress {
    color: grey;
    font-size: large;
   
    /* margin-top: 100px; */
}



#islt {
    color: red;
    font-weight: 2px;
}

#isl {
    margin-left: 100px;
}

#drtbtn {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;
}

.aroicn {
    color: white;
    size: 60px;
}

#fsl
{
    color: red;
    font-weight: 2px;
}

.franchise2 {
    color: white;
    font-size: 30px;

 margin-top: 100px;
 margin-left: 100px;

display:flex;
}

.h1 { 
    font-weight: bolder;
    font-size:60px;
    color: white;
    text-align: center;
margin-top: 130px;
}

 .images {
    display: flex;
    
}  

#imp {
    font-weight: bolder;
    font-size:30px;
    color: white;
    
}


#Express {
    
    color: white;
    font-size: 30px;
}
.img4 {
    margin-left: 40px;
}

.img4a {
    margin-left: 65px;

}

#drtbtn2 {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;
    margin-left: 80px;
}

.images2 {
   display: flex;
    margin-top: 50px;
}

.images4 {
    display: flex;
     margin-top: 50px;
     margin-left: 200px;
 }
 
.images3 {
    display: flex;
    margin-top: 50px;
}

#drtbtn3 {
    text-transform: capitalize;
    color: white;
    background-color:#28a745 ;
    border: 1px solid #28a745 ;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;}
