.header {
    background-color: black;
    margin-top: 0px;
    position: relative;
}
.list li {
   font-size: large;
   text-transform: capitalize;
    display: inline-block;
    margin-left: 40px;
    margin-top: 100px;
    color: white;
}

.logo {
   
    margin-left: 90px;
    display: inline-block;
margin-top: 5px;

}

.list {
    display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 400px;
  z-index: 1;
}
 .btn {
   text-transform: capitalize;
    background-color: black;
    border: 1px solid  white;
color: white;
border-radius: 30px;
padding: 20px;
 }


 .btn2 {
    text-transform: capitalize;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 30px;
    padding: 20px;
 }
 .btn2>img {
    width: 10px;
    height: 10px;
   background-color: white;
    margin-left: 5px;

 }
  
.text {
    background-color: black;
    color: white;
    text-align: center;
   font-size:60px;
}

.minitext {
    background-color: black;
    color: white;
    text-align: center;
   font-size:20px;
}

.img3 {
    color:black;
}
 
.btn3 {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 35px;
    padding-top: 20px;
}


 
.grey {
    background-color: hsla(0, 0%, 0%, 0.863);
    color: gainsboro;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    

}

.logotxt {
    font-weight: bolder;
    font-size:60px;
    color: white;
}

.btns {
    margin-bottom: 50px;
}

* {
    background-color: black;
}

.franchise {
    color: white;
    font-size: 30px;

 margin-top: 100px;
 margin-left: 100px;

display:flex;
}

#adress {
    color: grey;
    font-size: large;
   
    /* margin-top: 100px; */
}



#islt {
    color: red;
    font-weight: 2px;
}

#isl {
    margin-left: 100px;
}

#drtbtn {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;
}

.aroicn {
    color: white;
    size: 60px;
}

#fsl
{
    color: red;
    font-weight: 2px;
}

.franchise2 {
    color: white;
    font-size: 30px;

 margin-top: 100px;
 margin-left: 100px;

display:flex;
}

.h1 { 
    font-weight: bolder;
    font-size:60px;
    color: white;
    text-align: center;
margin-top: 130px;
}

 .images {
    display: flex;
    
}  

#imp {
    font-weight: bolder;
    font-size:30px;
    color: white;
    
}


#Express {
    
    color: white;
    font-size: 30px;
}
.img4 {
    margin-left: 40px;
}

.img4a {
    margin-left: 65px;

}

#drtbtn2 {
    text-transform: capitalize;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;
    margin-left: 80px;
}

.images2 {
   display: flex;
    margin-top: 50px;
}

.images4 {
    display: flex;
     margin-top: 50px;
     margin-left: 200px;
 }
 
.images3 {
    display: flex;
    margin-top: 50px;
}

#drtbtn3 {
    text-transform: capitalize;
    color: white;
    background-color:#28a745 ;
    border: 1px solid #28a745 ;
    border-radius: 25px;
    padding: 15px 45px;
    padding-top: 15px;
    margin-top: 60px;}

.vlg {
    margin-top: 150px;
    margin-left: 700px;
}
.h2 {
    font-weight: bolder;
    font-size:50px;
    color: white;
    text-align: center;
margin-top: 130px;
}



h1 span {
    font-weight: bolder;
    font-size:30px;
    color: white;
    text-align: center;
margin-top: 130px;
}

.lct {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 350px;
    height: 150px;
    margin-left: 70px;
    padding-bottom: 100px;
   
}

.opn {
    background-color: white;
    color: red;
    text-transform: uppercase;
   margin-left:100px ;
}

.hf {
    background-color: white;
    text-align: center;
}

.img10 {
    background-color: white;
    margin-left: 130px;
    margin-top: 30px;
}

.spn {
    background-color: white;
    font-weight: normal;
}

.lct1 {
    background-color: white;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    margin-left: 70px;
    padding-bottom: 100px;
   
}

.opna {
    background-color: white;
    color: red;
    text-transform: uppercase;
   margin-left:100px ;
}

.hfa {
    background-color: white;
    text-align: center;
}

.img10a {
    background-color: white;
    margin-left: 130px;
    margin-top: 30px;
}

.spna {
    background-color: white;
    font-weight: normal;
}

.lct2 {
    background-color: white;
    width: 350px;
    height: 150px;
    border-radius: 5px;
   margin-left: 70px;
    padding-bottom: 100px;
 
}

.csn {
    display: flex;
    
}

.csn2 {
    display: flex;
    margin-top: 50px;
}

.lct00 {
    background-color: white;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 490px;
    padding-bottom: 100px;
}

#sf  {
    width: 260px;

}
.footer {
    color: grey;
    width: 300px;
    margin-left: 70px;
    display: inline-block;
}

.list2 li {
    font-size: large;
    text-transform: capitalize;
     margin-bottom: 10px;
     color: grey;
     list-style: none;
}

.list2 {
    display: inline-block;
    margin-left: 100px;
}
.h4 {
    color: white;
    text-transform: capitalize;
    margin-left: 40px;
}

.h4a {
    color: white;
    text-transform: capitalize;
}

.ftr {
    color: white;
    display: inline-block;
    margin-left: 150px;
    width: 200px;

}
#bld {
    font-weight: bold;
    margin-bottom: 10px;
}
 
.ftra {
    display: inline-block;
    width: 200px;
}


@media only screen and (max-width: 900px) {
    
    
    .list {
       margin-left: 50px;
      position: absolute;
      left: 100px;
      
      
    }
   li {
    
    font-size: small;
margin-left: 10px;
    
   }

    
    .logo {
        margin-left: 0px;
        
    } 
    .img3 {
        display: block;
    }
    .franchise {
margin-left: 0px;
        display:block ;
    }
    .franchise2 {
        display: block;
        margin-left: 0px;
    }
    #isl {
        margin-left: 0px;
    }
    .images {
        display: block;

    }
    .img4a{
        margin-left: 0px;
    }
    .img4 {
        margin-left: 0px;
    }
    .images2 {
        display: block;
        margin-top: 20px;
    }
    .images3 {
        display: block;
        margin-top: 20px;
    }
    .images4 {
        display: block;
        margin-top: 20px;
        margin-left: 0px;
    }
    .vlg {
        margin-left: 400px;
        display: block;
    }
    .vlgm img {
      width:   400px;
      margin-top: 100px;
    }
    .lct {
        width: 200px;
        margin-left: 30px;
    }
    .lct00 {
        width: 200px;
        margin-left: 265px;
    }
    .lct1 {
        width: 200px;
        margin-left: 30px;

    }
    .lct2 {
        width: 200px;
        margin-left: 30px;
    }
    .opn {
        margin-left: 30px;
    }
    .img10 {
        margin-left: 60px;
    }
    .img10a {
        margin-left: 60px;
    }
    .opna {
        margin-left: 30px;
    }
    #drtbtn { 
        margin-bottom: 20px;

    }
    #drtbtn2 {
        margin-bottom: 20px;
    }
    #drtbtn3 {
        margin-top: 10px;
        margin-left: 30px;
    }
    
}
