.navbar {

    background-color: rgba(255, 255, 255, 1);
}

@font-face {
    font-family: inter;
    src: url(fonts/Inter_18pt-Regular.ttf);
}

* {
    font-family: inter;
}

.navbar a,
.navbar button {
    text-transform: capitalize;
    color: rgba(46, 47, 53, 1);
}

.button1 {
    background-color: rgba(255, 255, 255, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    border-radius: 12px !important;
    height: 44px !important;
    margin-left: 10px;
}

.button2 {
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    color: white !important;

    background-color: rgba(255, 109, 44, 1) !important;
    border-radius: 12px !important;
    height: 44px !important;
    margin-left: 10px;
}

.div1button {
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    color: white !important;
    width: 260px;
    height: 64px;
    background-color: rgba(255, 109, 44, 1) !important;
    border-radius: 12px !important;
    text-transform: uppercase;
}

.div1 {
    background-color: rgba(224, 248, 242, 1);
    display: flex;
   }

.div1content{
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;

}

.div1content>h1 {
    font-size: 82px;
    font-weight: 600;
    /* line-height: 96px; */
}

.div1content>p {
    font-size: 20px;
}

.div1span {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    column-gap: 50px;

}

.div1icons>i {
color: rgba(253, 198, 57, 1);
font-size: 18px;
letter-spacing: 6px;
}


@media only screen and (max-width:1200px) {

    .navbar li,
    .button1,
    .button2 {
        margin-left: auto;
        margin-right: auto;
    }

    .button1,
    .button2 {
        display: block !important;

    }

    .button2 {
        margin-top: 10px;
    }


}