:root {
    --orange: rgba(255, 109, 44, 1);
    --blue: rgba(224, 248, 242, 1);
}


@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


.navdiv {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}

.navbar {
    /* justify-content: first baseline !important; */
    padding-bottom: 0px !important;
    position: absolute;
    top: 10px;
    /* z-index: -1; */

}





@font-face {
    font-family: inter;
    src: url(fonts/Inter_18pt-Regular.ttf);
    font-family: grace;
    src: url(fonts/CoveredByYourGrace-Regular.ttf);
}

* {
    font-family: inter;
}




.navbar a,
.navbar button {

    text-transform: capitalize;
    color: rgba(46, 47, 53, 1);

}

.button1 {
    background-color: rgba(255, 255, 255, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    border-radius: 12px !important;
    height: 44px !important;
    margin-left: 10px;
}

.button2 {
    border: 2px solid rgba(46, 47, 53, 1) !important;

    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    color: white !important;
    background-color: var(--orange) !important;
    border-radius: 12px !important;
    height: 44px !important;
    margin-left: 10px;
}

.div1button {
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border: 2px solid rgba(46, 47, 53, 1) !important;
    border-right: 5px solid rgba(46, 47, 53, 1) !important;
    border-bottom: 5px solid rgba(46, 47, 53, 1) !important;
    color: white !important;
    width: 260px;
    height: 64px;
    background-color: var(--orange) !important;
    border-radius: 12px !important;
    text-transform: uppercase;
}

.div1image {
    filter: blur(4px);
    object-fit: contain;
    /* object-position: top bottom; */
}

.divs {
    background-color: var(--blue);
}



.div1 {
    display: flex;

    align-items: center;
}

.div1content {

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* row-gap: 30px; */
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 70px;
}

.div1content h1 {
    font-size: 82px;
    font-weight: 600;
    /* box-sizing: content-box; */
    line-height: 66px;
}

.div1h1span,
.div2h1span {
    font-family: grace;
    color: rgba(0, 147, 135, 1);
    font-weight: normal;
}

.div1content>p {
    font-size: 20px;
}

.div1span {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    column-gap: 50px;

}

.div1icons i {
    color: rgba(253, 198, 57, 1);
    font-size: 18px;
    letter-spacing: 6px;
}

.div1icons {
    height: 64px;
    padding-top: 8px;
}

.div2 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.div2h1 {
    font-size: 63px;
    text-align: center;
    width: 50%;
    margin: auto;

    /* margin-right: auto; */
}

.div2cardtext1 img {
    padding-left: 20px !important;

}

.div2cardtext3 img {
    padding-left: 35px !important;
}

.div2cardtext4 img {
    padding-left: 80px !important;
}

.div2cards {
    padding-top: 50px;
}

.div2card {
    border: none !important;
}

.div3m{
    background-color: rgba(243, 250, 250, 1);

}

.div3 {

    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 100px;
}

.div3h1 {
    text-align: center;
    width: 55%;
    margin: auto;

}

.div3 h1
 {
    font-size: 63px;
    text-align: center;
    font-weight: bold;

}

.div3h1span{
    font-family: grace;
    color: rgba(0, 147, 135, 1);
    font-weight: normal;
}

.div3 p{
    font-size: 14px;
    text-align: center;
}

.div3allsections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div3section3 {
    box-sizing: content-box;

}



@media only screen and (max-width:1200px) {

    .navbar li,
    .button1,
    .button2 {
        margin-left: auto;
        margin-right: auto;
    }

    .button1,
    .button2 {
        display: block !important;

    }

    .div1content {
        padding-top: 80px;
        padding-bottom: 60px;

    }

    .div1content h1 {
        font-size: 70px;
        line-height: 60px;
    }

    .div1content>p {
        font-size: 18px;
    }

    .div1button {

        width: 220px;
        height: 55px;
        background-color: var(--orange) !important;
        border-radius: 12px !important;

    }

    .div1span {
        column-gap: 40px;
    }

    .div1icons i {

        font-size: 16px;
        letter-spacing: 6px;
    }

    .div1icons {
        height: 55px;
        padding-top: 5px;
    }

    .div2h1 {
        font-size: 55px;

        width: 55%;
    }


    .div2cardtext1 img {
        padding-left: 0px !important;
    }

    .div2cardtext3 img {
        padding-left: 10px !important;
    }

    .div2cardtext4 img {
        padding-left: 70px !important;
    }

    .div2cardtext2 img {
        width: 100%;
        /* margin-right: 20px !important; */
    }

    .div3h1 {
        width: 55%;
    }

    .div3 h1{
        font-size: 55px;
    }

    .div3allsections {
        justify-content:center;
    }
}

@media only screen and (max-width:992px) {
    .button2 {
        margin-top: 10px;
    }

    .div1content h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .div1content>p {
        font-size: 16px;
    }

    .div1button {

        width: 210px;
        height: 50px;
        background-color: var(--orange) !important;
        border-radius: 12px !important;

    }

    .div1content {
        padding-top: 60px;
        padding-bottom: 40px;

    }

    .div1span {
        column-gap: 40px;
    }

    .div1icons i {

        font-size: 14px;
        letter-spacing: 6px;
    }

    .div1icons {
        height: 50px;
        padding-top: 0px;
    }

    .div2h1 {
        font-size: 55px;

        width: 70%;
    }

    .div2cardtext3 img {
        padding-left: 0px !important;
        width: 100%;

    }

    .div2cardtext1 img {
        padding-left: 0px !important;
        width: 100%;

    }

    .div2cardtext4 img {
        padding-left: 30px !important;
    }



    .div2cardtext2 img {
        width: 105%;

    }
    .div3 h1{
        font-size: 50px;
    }

    .div3h1{
        width: 70%;
    }

    .div3allsections{
        justify-content: unset;
    }

}

@media only screen and (max-width:768px) {
    .div1content h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .div1content p {
        font-size: 14px;
    }

    .div1button {

        width: 180px;
        height: 45px;
        background-color: var(--orange) !important;
        border-radius: 12px !important;

    }

    .div1span {
        column-gap: 20px;
    }

    .div1icons i {

        font-size: 12px;
        letter-spacing: 4px;
    }

    .div1icons {
        height: 45px;
        padding-top: 0px;
    }

    .div1content {
        padding-top: 40px;
        padding-bottom: 30px;

    }

    .div2cardtext4 img {
        padding-left: 70px !important;
    }

    .div2h1 {
        width: auto;
    }
}


@media only screen and (max-width:578px) {

    .div1main {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .div1content {
        padding-top: 0px;
        padding-bottom: 20px;

    }

    .div2card {
        margin-top: 10px;
    }

    .div2card>img {
        /* width: auto; */
        object-fit: cover;
    }

    .div2cardtext1 img {
        /* padding-left: 50px; */
        width: 50%;
        margin-left: 120px;
        
    }

    .div2cardtext2 img {
        
        width: 70%;
        margin-left: 80px;
    }

    .div2cardtext3 img {
        margin-left: 120px;
        
        width: 50%;
    }

    .div2cardtext4 img {
        width: 35%;
        margin-left: 130px;
        /* padding-right: auto; */
    
    }

    /* .div2 img{
        object-fit: contain;
    } */


}

@media only screen and (max-width:400px) {
    .div1content h1 {
        font-size: 28px;
        line-height: 25px;
    }

    .div1content p {
        font-size: 12px;
    }

    .div1button {
        font-size: 12px !important;
        width: 160px;
        height: 42px;
        background-color: var(--orange) !important;
        border-radius: 12px !important;

    }

    .div1span {
        /* column-gap: 5px; */
        display: inline-block;
    }

    .div1icons i {

        font-size: 10px;
        letter-spacing: 5px;
    }

    .div1icons {
        height: 42px;
        margin-top: 12px;
        margin-left: 20px;

    }

    .div1main {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .div2cardtext1 img {
        width: 50%;
        margin-left: 60px;
        
    }

    .div2cardtext2 img {
        width: 70%;
        margin-left: 40px;
    }

    .div2cardtext3 img {
        margin-left: 60px;
        width: 50%;
    }

    .div2cardtext4 img {
        width: auto;
        margin-left: 20px;
    
    }
}