.container {
    background-color: rgba(255, 255, 255, 1);
}

.navbar li {
    color: rgba(51, 51, 51, 1);
   
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: rgba(255, 255, 255, 1) ;
    
}