.container {
    background-color: rgba(255, 255, 255, 1);
    display: flex; 
    flex-direction: column;
    row-gap: 20px;
}

.navbar li {
    color: rgba(51, 51, 51, 1);

}

.list {
    display: flex;
    justify-content: center !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);
    /* background-color: red ; */

}

.underline {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.div1 {
    display: flex;
    justify-content: space-between;


}

/* .div1rightsection>img {
    height: 829px;
    width: 770px;

} */

/* .div1content {
    
    display: flex;
    flex-direction: column;
justify-content: center;
} */

.div1content1 {
    color: rgba(189, 189, 189, 1);
    font-size: 64px;
    font-weight: 300;
    text-transform: uppercase;

}

.div1content2 {
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;

}

.div1leftsection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    /* align-items: center; */
}

/* .div1sectionleft {
    height: 800px;
} */


/* .div1icons {
    display: flex;
} */

.div1icons>i {
    border: 1px solid rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    background-color: rgba(255, 255, 255, 1);
    font-size: 24px;
    width: 53px;
    height: 53px;
    text-align: center;
    padding-top: 12px;
}

.div1numbers {
    color: rgba(224, 224, 224, 1);
    font-size: 31px;

}

.div1rightsection {
    position: relative;
}

.div1rightsection button {
    background-color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.div2 {

    background-color: rgba(251, 251, 251, 1);
    /* display: flex;
    column-gap: 20px;
    justify-content: space-around; */
    /* padding-left: 80px;
    padding-right: 80px; */
}


/* .div2images {
    display: flex;
   column-gap: 10px;
} */

/* .div2imagessection1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
} */



.div2content>h1 {
    color: rgba(189, 189, 189, 1);


}

.div2content p {
    color: rgba(0, 0, 0, 1);

}

.div2content button {

    background-color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 1);
}

/* .div3 {
    background-color: aqua;
} */

.div3>h1 {
    color: rgba(189, 189, 189, 1);

}

.div3rightsectionnum {
    color: rgba(242, 242, 242, 1);
    font-weight: 900;
    font-size: 200px;
    /* background-color: pink; */
}

.div3leftsectionnum {
    color: rgba(242, 242, 242, 1);
    font-weight: 900;
    font-size: 200px;
    /* background-color: pink; */
   
}

.div3allsections {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div3leftsection {
    display: flex;
    align-items: center;
}

.div3rightsection {
    display: flex;
    align-items: center;
}

.div3leftsectioncontent {
    color: rgba(51, 51, 51, 1);
line-height: 36px;
font-size: 22px;
padding-top: 10px;
}

.div3rightsectioncontent {
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
    font-size: 22px;
 padding-top: 10px;   
}

.div4section1 {
    display: flex;
}

.div4section2 {
    display: flex;
}

.div4h1 {
   color:  rgba(189, 189, 189, 1);
   font-size:64px ;
   font-weight: 300;
}

.div4images {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.div4 button {
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(51, 51, 51, 1);
    height: 71px;
    width: 222px;
    margin-top: 20px;

}

.div4 span {
    display: flex;
    justify-content: right;
}


.div5input {
    background-color: rgba(243, 243, 243, 1) !important;
    border-radius: 0 !important;
}

.div5heading>h1 {
   color:  rgba(189, 189, 189, 1);
   font-size:64px ;
   font-weight: 300;
}


.div5img {
    object-fit: cover;
}

.div5 button {

    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(51, 51, 51, 1);
    height: 71px;
    width: 222px;
}


.div5section3>p {
    margin-left: 20px;
    width: 331px;
    font-size: 14px;
}

.footer {
  background-color:   rgba(44, 44, 44, 1);
  
  /* display: flex;
  justify-content: space-evenly; */
}

/* .div5form {
    background-color: pink;
} */

/* .div5section2 {
    display: flex;

} */

.footermain{
    background-color:   rgba(44, 44, 44, 1);
}

.footersection2 , .footersection3 , .footersection4 {
    color: white;
}

.footersection2 ul {
    list-style: none;
}

.footersection3 ul {
    list-style: none;
}

.footersection4 ul {
    list-style: none;
}


   





@media only screen and (max-width:1200px) {
    .div1content1 {
        font-size: 50px;
    }

    .div1content2 {
        font-size: 50px;
    }

    .div1icons i {
        font-size: 20px;
        padding-top: 8px;
        width: 40px;
        height: 40px;

    }

    .div1numbers {
        font-size: 25px;

    }

    .div1leftsection {
        row-gap: 40px;
    }

    .div1rightsection button {
        height: 50px;
        width: 170px;
    }

    .div2content button {
        width: 150px ;
        height: 50px ;
    }

.div3rightsectioncontent {

line-height: 30px;
padding-top: 20px;

}

.div3leftsectioncontent {

    line-height: 30px;
    
    }

    .div4 button {
        width: 180px;
        height: 60px;
    }

    .div5 button {
        width: 180px;
        height: 60px;
    }

    /* .div5section3>p {
  width: 230px;
    } */

}


@media only screen and (max-width:992px) {
    .div1content1 {
        font-size: 40px;
    }

    .div1content2 {
        font-size: 40px;
    }

    .div1icons i {
        font-size: 15px;
        padding-top: 6px;
        width: 30px;
        height: 30px;

    }

    .div1numbers {
        font-size: 20px;

    }

    .div1leftsection {
        row-gap: 30px;
    }

    .div1rightsection button {
        width: 150px;
        height: 40px;
    }

    .div2content button {
        width: 120px ;
        height: 35px ;
    }

    
.div3rightsectioncontent {

    line-height: 24px;
    font-size: 18px;
    }
    
    .div3leftsectioncontent {
    
        line-height: 24px;
        font-size: 18px;
        padding-top: 15px;
        }

        .div4 button {
            width: 140px;
            height: 40px;
        }
    
        .div5 button {
            width: 140px;
            height: 40px;
        }

}

@media only screen and (max-width:768px) {
    .div1content1 {
        font-size: 30px;
    }

    .div1content2 {
        font-size: 30px;
    }

    .div1icons i {
        font-size: 15px;
        padding-top: 2px;
        width: 20px;
        height: 20px;

    }

    .div1numbers {
        font-size: 15px;

    }

    .div1leftsection {
        row-gap: 20px;
    }

    .div1rightsection button {
        width: 130px;
        height: 40px;
    }

    .div2imagessection1 img {
        width: 100%;

    }

    .div2imagessection2 img {
        width: 100%;

    }

    .div2content button {
        width: 120px ;
        height: 35px ;
    }

    
    .div3rightsectioncontent {

        line-height: 36px;
        font-size: 22px;
        }
        
        .div3leftsectioncontent {
        
            line-height: 36px;
            font-size: 22px;
            
            }

            .div5section2 {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 10px;
            }

   

    /* .div1 {
        background-color: pink;
    } */
}

@media only screen and (max-width:576px) {

    
    .div2imagessection1 img {
        width: 100%;

    }

    .div2imagessection2 img {
        width: 100%;

    }

    .div2content button {
        width: 100px ;
        height: 30px ;
    }

    .div4images {
        row-gap: 0px;
    }

    .div4images img {
        margin-top: 20px;
    }
    
    .div5heading>h1 {
    
        font-size:35px ;
        font-weight: 300;
     }

     .div5section3>p {
        width: auto;
     }

}
@media only screen and (max-width:400px) {
    .div1content1 {
        font-size: 20px;
    }

    .div1content2 {
        font-size: 20px;
    }

    .div1icons i {
        font-size: 15px;
        padding-top: 2px;
        width: 20px;
        height: 20px;

    }

    .div1numbers {
        font-size: 15px;

    }

    .div1leftsection {
        row-gap: 0px;
    }

    .div1rightsection button {
        width: 100px;
        height: 15px;
        font-size: 10px;

    }

    .div3rightsectioncontent {

        line-height: 15px;
        font-size: 15px;
        }
        
        .div3leftsectioncontent {
        
            line-height: 20px;
            font-size: 15px;
            
            }
}