.navbar {
     height: 100px;
   
}

.list {
    font-size: large;
}
.butn {
    border-radius: 55px !important ;
}




.div1 {
    background-image: url(images/bg1-min.png);
}

.img4 {
    position: absolute;
    right: 35%;
    
}


.butn3 {
    border-radius: 5px !important ;
    border: 2px solid #212529 !important;

    width: 200px;
    margin-left: 5px;
    
}

.butn2 {
    border-radius: 55px !important ;
    border: 2px solid #dc3545 !important;
    width: 200px; 
    margin-right: 5px;  
}

.butn4 {
    border-radius: 55px !important ;
 width: 400px;
 border: 2px solid white !important;
 
}



.headings {
    display: flex;
    justify-content: space-between;
}

.div1c1 {
    display: flex;
    margin-bottom: 10px;
    
}

.div1c1 button {
    text-align: center;
}

.div1c2 button {
    text-align: center;
}

/* .div1c {
 
    position: absolute;
    top: 300px;
display: flex;
justify-content: center;
    
    
} */


@media only screen and (max-width:)
{

}

