.navbar {
    height: 100px;

}

.list {
    font-size: large;
}

.butn {
    border-radius: 55px !important;
}




.div1 {
    background-image: url(images/bg1-min.png);
    position: relative;
}

.img4 {
    position: absolute;
    right: 30%;
    top: 200px;
}



.none {
    display: none;
}


.butn3 {
    border-radius: 5px !important;
    border: 2px solid #212529 !important;

    width: 200px;

}

.butn2 {
    border-radius: 55px !important;
    border: 2px solid #dc3545 !important;
    width: 200px;

}

.butn4 {
    border-radius: 55px !important;
    width: 400px;
    border: 2px solid white !important;

}



.headings {
    display: flex;
    justify-content: space-between;
}

.div1c1 {

    margin-bottom: 10px;

}




.div1c2 {

    column-gap: 2px;
}

.div1c {
    position: absolute;
    top: 400px;
    right: 350px;
}

.div2 {
    background-image: url(images/bg2-min.png);

    padding-top: 100px;
}

.div2 h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}


.div2 h4 {
    color: white;
    text-transform: capitalize;
    line-height: 2;
    font-size: 25px;
}

.div2a {
    display: flex;
    justify-content: space-around;
}


.div2a img {
    object-fit: contain;
}

.div3 {
    background-color: #2f559d;

}

.div3 h1 {
    color: white;
}

.div3 span {
    color: #ffff;

}

.div3 h3 {
    color: #7bd1ff;
}

.h3 {
    color: white !important;
}

.div3 li {
    color: #7bd1ff;
    list-style: none;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
}

.div3m {
    display: flex;
    justify-content: space-around;
}


.div3>h1 {
    text-align: center;

}

.div3b ul {
    padding: 0px;

}

.div4main {
    background-image: url(images/bg3-min.png);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 1200px; */
}

.div4smallbox {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #6cb1ed;
    color: #fce956;
    font-size: 32px;
    font-family: fantasy;
    width: 80%;
    /* height: 90%; */

}

.div4smallbox>h1 {
    text-align: center;
}

.div4sectionone {
    background-color: #fce956;
    color: #212529;
    
}

.div4allparts {
    width: 90%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;

}

.div4sectionone h1 {

    font-size: 48px;
    font-weight: 500;
}

.div4sectionone p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 22px;
    font-weight: 700;

}



.div4sectionone {
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding:10px;
}



.div4section2 {
    color: black;
    display: flex;
    align-items: center;
    
    column-gap: 10px;
    margin-top: 50px;
}

.div4section2btn>h1 {
    border: solid black 5px;
    padding: 25px 45px;

}

.div4section2content {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
}

.div4section3 {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
    margin-top: 50px;
}
.div4section3content {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
}

.div4section3btn>h1 {
    border: solid black 5px;
    padding: 25px 43px;
}

.div4section4 {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
    margin-top: 50px;

}

/* .div4section4 h1 {
    display: inline-block;

} */

.div4section4content {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
}

.div4section4btn>h1 {
    border: solid black 5px;
    padding: 25px 43px;
}

.div4section5 {
    color: black;
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.div4section5content {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
}

.div4section5btn>h1 {
    border: solid black 5px;
    padding: 25px 45px;

}

.div4section6 {
    color: black;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin-top: 50px;
}

.div4section6content {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 1.5;
}

.div4section6btn>h1 {
    border: solid black 5px;
    padding: 25px 35px;
}

.div5main {
    background-image: url(images/bg2-min.png);
}

.div5main>h1 {
    color: #fce956;
}


@media only screen and (max-width:1200px) {
    .div1c {
        right: 300px;
        top: 400px;
    }

    .butn4 {
        width: 300px;
    }

    .butn3 {
        width: 150px;
    }

    .butn2 {
        width: 150px;
    }

    .butn3 img {
        width: 15px;
    }
}

@media only screen and (max-width:992px) {


    .div1c {
        right: 200px;
        top: 300px;
    }

    .butn4 {
        width: 300px;
    }

    .butn3 {
        width: 150px;
    }

    .butn2 {
        width: 150px;
    }

    .butn3 img {
        width: 15px;
    }

    .div2 h4 {
        line-height: normal;
        font-size: large;
    }

    .div2a img {
        object-fit: none;

    }
}

@media only screen and (max-width:768px) {
    .div1c {
        right: 120px;
        top: 300px;
    }

    .butn4 {
        width: 250px;
    }


    .butn3 {
        /* display: block !important; */
        width: 250px;
        margin-top: 10px;
    }

    .butn2 {
        width: 250px;

    }

    .div2a img {
        object-fit: none;

    }

.div4allparts {
    width: 90%;
}

.div4sectionone h1 {
    font-size: 22px;
    font-weight: 500;
}

.div4sectionone p {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div4sectionone img {
    width: 70px;
}

.div4sectionone {
    padding: 30px;
}

.div4section2btn>h1 {
    padding: 15px 21px;
    
    font-size: 1rem;
}

.div4section2content{
    font-size: 1rem;
    
}

.div4section3btn>h1 {
    padding: 15px 20px;
    font-size: 1rem;
}

.div4section3content{
    font-size: 1rem;
    
}

.div4section4btn>h1 {
    padding: 15px 20px;
    font-size: 1rem;
}

.div4section4content{
    font-size: 1rem;
    
}

.div4section5btn>h1 {
    padding: 15px 21px;
    font-size: 1rem;
}

.div4section5content{
    font-size: 1rem;
    
}

.div4section6btn>h1 {
    padding: 15px 17px;
    font-size: 1rem;
}

.div4section6content{
    font-size: 1rem;
    
}

}

@media only screen and (max-width:576px) {

    .div2a img {
        object-fit: contain;

    }

    .none1 {
        display: none;
    }

    .none2 {
        display: none;
    }

    .none {
        display: block;
        display: flex;
        justify-content: center;
    }



    .div1c {
        position: static;
        display: flex;
        flex-direction: column-reverse;
    }

    .div1c1 {
        text-align: center;
    }

    .div1c2 {
        text-align: center;
    }

    .img4 {
        position: static;

    }

    .div4sectionone {
        padding: 0px;
    }

}