.navbar {
    height: 100px;
    
}

.list {
    font-size: large;
}
.butn {
    border-radius: 55px !important ;
}




.div1 {
    background-image: url(images/bg1-min.png);
}

.img4 {
    position: absolute;
    right: 35%;
    
}


.butn3 {
    border-radius: 5px !important ;
    border: 2px solid #212529 !important;

    width: 200px;
    
    
}

.butn2 {
    border-radius: 55px !important ;
    border: 2px solid #dc3545 !important;
    width: 200px; 
      
}

.butn4 {
    border-radius: 55px !important ;
 width: 400px;
 border: 2px solid white !important;
 
}



.headings {
    display: flex;
    justify-content: space-between;
}

.div1c1 {
    
    margin-bottom: 10px;
    
}


 

.div1c2{
    column-gap: 2px;
}

.div1c {
 
    position: absolute;
    top: 350px;
   right: 450px;
    
    
}




@media only screen and (max-width:1200px)

{
    .div1c {
        right: 400px;
        top: 300px;
    }

    .butn4 {
        width: 300px;
    }
    .butn3 {
        width: 150px;
    }
    .butn2 {
        width: 150px;
    }

    .butn3 img {
        width: 15px;
    }
}

@media only screen and (max-width:992px)

{
    .div1c {
        right: 300px;
        top: 300px;
    }

    .butn4 {
        width: 300px;
    }
    .butn3 {
        width: 150px;
    }
    .butn2 {
        width: 150px;
    }

    .butn3 img {
        width: 15px;
    }
}

@media only screen and (max-width:768px)

{
    .div1c {
        right: 250px;
        top: 250px;
    }

    .butn4 {
        width: 250px;
    }

    /* .div1c2 {
        display: flex;
        flex-wrap: wrap;
    } */
.butn3 {
    display: block !important;
    width: 250px;
    margin-top: 10px;
}

.butn2 {
    width: 250px;
    
}
}

@media only screen and (max-width:576px)

{
    .div1c {
        right: 150px;
        top: 250px;
    }
}

@media only screen and (max-width:400px)
{
    .div1c {
        right: 50px;
        top: 250px;
    }

    .none1{
        display: none;
    }
    .none2{
        display: none;
    }

    .none1 {
        src: url(images/g6.png);
    }
}
