 * {
     background-color: black;

 }
.box {
    color: aliceblue;
    height: 50vh;
    font-size: 40px;

}

.box::before{
  position: absolute;
  left: 100px;
    content: url(New/div\ \(14\).png);
    /* background-image:url(New/div\ \(14\).png) ; */
    /* width:  0%; */
    /* background-position: center;
    background-repeat: no-repeat; */
    
}