.img1 {
    margin-left: 200px;
    
}
.text {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: larger;
}

.img2 {
    position: relative;
}

.layer {
    background-color: rgb(0, 0, 0, 0.5);
    height:  100%;
     width: 100%;
    position: absolute;
    
}
 
.div3a {
    display: flex;
    flex-wrap: wrap;
}

.text2 {
    display: flex;
    justify-content: space-between;
}

.div3 {
    display: flex;
    flex-wrap:wrap ;
row-gap: 5px;
justify-content: center;

}

.div3a {
 row-gap: 5px;
 column-gap: 5px;
}

.div03 {
    margin-top: 100px;
}


.div4 {
    display: flex;
    margin-top: 100px;
}

.div4>.one {
    display: flex;
  
}

.div4 >.two {
    display: flex;
 
}

.div4 >.three {
    display: flex;

}

.div4 >.four {
    display: flex;
    
}

.div4 img {
    border-radius: 45px;
}

.div5{
    margin-top: 100px;
position: relative;

}



.text3 {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: larger;
}

.div6 {
    margin-top: 100px;
}

.div7 {
    display: flex;
}

.div7a {
    display: flex;
}

.div7b {
    display: flex;
}

.div7c {
    display: flex;
}