.img1 {
    margin-left: 200px;
    
}
.text {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: larger;
}

.img2 {
    position: relative;
}

.layer {
    background-color: rgb(0, 0, 0, 0.5);
    height:  100%;
     width: 100%;
    position: absolute;
    
}
 
.div3a {
    display: flex;
    flex-wrap: wrap;
}

.text2 {
    display: flex;
    justify-content: space-between;
}

.div3 {
    display: flex;
    flex-wrap:wrap ;
row-gap: 5px;
justify-content: center;

}

.div3a {
 row-gap: 5px;
 column-gap: 5px;
}

.div03 {
    margin-top: 100px;
}


.div4 {
    display: flex;
    margin-top: 100px;
}

.div4>.one {
    display: flex;
  
}

.div4 >.two {
    display: flex;
 
}

.div4 >.three {
    display: flex;

}

.div4 >.four {
    display: flex;
    
}

.div4 img {
    border-radius: 45px;
}

.div5{
    margin-top: 100px;
position: relative;

}



.text3 {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: larger;
}

.div6 {
    margin-top: 100px;
}

.div7 {
    display: flex;
}

.div7a {
    display: flex;
}



.div7a>div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    
}

.div7b {
    display: flex;
}


.div7b>div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    
}

.div7c {
    display: flex;
}


.div7c>div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    
}

.div8 {
    margin-top: 50px;
position: relative;
}

.div8a {
    width: 70%;
   color: white;
position: absolute;
bottom: 100px;
}

.div8 i {
    color: red;
}

.div9 {
    display: flex;
    margin-bottom: 50px;
}

.div9 h3 {
    color : white;

}

.div9 i {
    color: red;
}

.div9a{
    position: relative;
}

.div9b{
    position: relative;
}

.div9c{
    position: relative;
}

.div9d{
    position: relative;
}

.h3a {
    position: absolute;
    bottom: 50px;

}

.h3b {
    position: absolute;
    bottom: 50px;

}

.h3c {
    position: absolute;
    bottom: 50px;

}

.h3d {
    position: absolute;
    bottom: 50px;

}


.div10 {
    display: flex;
    margin-bottom: 50px;

}

.div10 h3 {
    color : white;

}

.div10 i {
    color: red;
}

.div10a{
    position: relative;
}

.div10b{
    position: relative;
}

.div10c{
    position: relative;
}

.div10d{
    position: relative;
}

.h3e {
    position: absolute;
    bottom: 50px;

}

.h3f {
    position: absolute;
    bottom: 50px;

}

.h3g {
    position: absolute;
    bottom: 50px;

}

.h3h {
    position: absolute;
    bottom: 50px;

}

.div11 {
    position: relative;
}

.div11 div {
    color: white;
    position: absolute;
    bottom: 50px;

}

.div11 i {
    color: red;
}

.footer {
    background-color: black;
}

.div12 {
    color: white;
}

.div12 i {
    color: red;
}

.div13 li{
    list-style: none;
    color: white;
}

.end {
    
    color: white;
}

.end li {
    display: inline;
    margin-left: 15px;
    list-style: none;
}