.img1 {
    margin-left: 200px;
    
}
.text {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: larger;
}

.img2 {
    position: relative;
}

.layer {
    background-color: rgb(0, 0, 0, 0.5);
    height:  100%;
     width: 100%;
    position: absolute;
    
}

.div3 {
    display: flex;
justify-content: space-between;
}


