
body {
  background-color:  rgba(61, 90, 128, 1); 
}
.main {
  background-color:  rgba(61, 90, 128, 1); 
  color: white;
  border: 1px solid hsl(0, 0%, 0%);
 
}

button {
  background-color:  rgba(238, 108, 77, 1) ; 
  color: white;
 }

 .one {
  
  background-color:  rgba(61, 90, 128, 1); 
  color: white;
justify-content: center; 
}

  .one h2 {
    width: 300px;
  }

  .one p {
    width: 450px;
  }

.main2 {
  display: flex;
  justify-content: center;
  
}

h2 span {
  color: rgba(238, 108, 77, 1) ; 
}

.two {
  width: 400px;
  background-color:  rgba(61, 90, 128, 1); 
  color : white;

  
}
.two>img {
  width: 200px;
  
}