.navbardiv,
body {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar a,
.navbar-text {
    color: white !important;

}

.navbar-nav li {
    margin-left: auto !important;
    margin-right: auto !important;
}

.main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items:center ; */
    row-gap: 100px;
}

.div1>img {
    width: 100%;
}

.div1 p {
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    font-size: 20px;
}



.div1images {
    display: flex;
    justify-content: space-between;

}

.div1images img {
    object-fit: contain;
    width: 20%;
}

.div2 {
    display: flex;
    justify-content: space-between;
}

.div2content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.div2content p {
    color: rgba(255, 255, 255, 0.6);
}

.div2content h4 {
    color: rgba(255, 255, 255, 1);
}

.div3border {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 155px;
    /* display: flex;
    flex-direction: column; */
}

.div3border>span {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    text-align: center;
    width: 36px;
    height: 56px;
}

.div3images
 {
    display: flex;
    /* flex-direction: row; */
    /* column-gap: 10px; */
}

.div3leftsection,
.div3rightsection {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.div3>h1{
    color: white;
    text-transform: capitalize;
    font-size: 48px;
}

@media only screen and (max-width:1200px) {

    .div1 p {
        font-size: 18px;
    }

    /* .div2 {
        
        justify-content:initial;
    } */


    .div2 p {
        font-size: 14px;
    }
}

@media only screen and (max-width:992px) {

    .div1 p {
        font-size: 14px;
    }

    .div2 p {
        font-size: unset;
    }

    .navbar-text {
        display: block;

        text-align: center;
    }

    .div2content p,
    .div2content h4 {
        text-align: center;

    }
}

/* @media only screen and (max-width:768px) {
 
    .div1 p {
        font-size: 18px;
    }
    
} */

@media only screen and (max-width:576px) {

    /* .div1 p {
        font-size: 18px;
    } */

    .div1images {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 10px;
        justify-content: center;
    }

    .div1images img {
        width: auto;
        height: auto;
    }

    .div2 p {
        font-size: 14px;
    }

    .div2 {
        flex-direction: column-reverse;
    }


}