.navbardiv,
body {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar a,
.navbar-text {
    color: white !important;

}

.navbar-nav li {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (max-width:992px) {
    


.navbar-text {
 display: block;
 
 text-align: center;
}



}