.first {
    border-bottom: solid 2px hsl(0, 0%, 87%);
    background-color: #f5f5f5;
    height: 80px;
    color: white;
  margin-right: 50px;
    
}

ul>li {
    /* width: 150px; */
    
    list-style: none;
   
    border-bottom: 0px;
   border-top: 0px;
    border-left: 1px solid #dedede; 
   border-right: 1px solid #dedede;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 5px;
  
 
}
 
ul {

  
    margin-top: 0px;
   padding-top: 10px;
   display: flex; 
   justify-content: center; 
   list-style-position:  inside;
} 


    

body {
    
    margin-right: 0px;
    margin-top: 0px;
  margin-left: 0px; 
}

.icons {
    
    display: flex;
    justify-content: center;
    height: 100px;
    margin-left: 0px;
    
 
}

.one {
    border-bottom: 5px solid  #919191;
    width: 120px;
    color:#898989 ;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.one:hover {
   background-color:  #919191;

color: white;}

.two:hover {
    background-color:  #e3350d  ;
 
 color: white;}

.two {
    border-bottom: 5px solid #e3350d   ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.three {
    border-bottom: 5px solid #ee6b2f  ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.three:hover {
    background-color: #ee6b2f   ;
 
 color: white;}

.four {
    border-bottom: 5px solid  #e6bc2f ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.four:hover {
    background-color: #e6bc2f   ;
 
 color: white;}

.five {
    border-bottom: 5px solid  #4dad5b ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.five:hover {
    background-color:   #4dad5b  ;
 
 color: white;}


.six{
    border-bottom: 5px solid  #30a7d7 ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;

}

.six:hover {
    background-color: #30a7d7  ;
 
 color: white;}



.sevn {
    border-bottom: 5px solid #1b53ba ;
    width: 120px;
    color: #898989;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    
}

.sevn:hover {
    background-color:  #1b53ba ;
 
 color: white;}

 .btn1 {
    background-color: #54b564;
    width: 50px;
    height:100px;
 }
 .btn2 {
    background-color:#616161 ;
    color: white;
    width: 50px;
    height: 50px;
 }
 .btn {
    border: 2px solid black;
    width: 50px;
    height: 150px;
    display: block;
    position: fixed;
    
 }
 .imgs{
    background :  url(imgs/body_bg.png);
    background-color: white;
 }
 
 p , h3 {
    color: white;
 }

@media only screen and (max-width: 535px) {
    ul { padding-left: 0px;
       
    }
    li{
        width: 200px;
    }
.first {
    border-bottom: none;
    background-color: white;
}
}
@media only screen and  (max-width: 1100px) {
 ul {
    display: flex;
    flex-wrap: wrap;
 }    
}
@media only screen and (max-width:945px) {
    .icons {
        visibility: hidden;
    }
     
}



    

