li {
    /* width: 150px; */
    display: inline-block;
    list-style: none;
   background-color:#f5f5f5 ;
   border: 1px solid #dedede;
   
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 5px;
   
}
 
ul {
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid #dedede;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
   padding-left: 250px;
   padding-top: 10px;
}



    

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
@media only screen and (max-width: 430px) {
    ul { padding-left: 0px;
        
    }
    li{
        width: 200px;
    }

}

    

