.navbar {
    background-color: #141619;
    color: white !important;
    text-transform: uppercase;

}

.navbar a {
    background-color: #141619;
    color: white !important;
    text-transform: uppercase;
}

.list {
    display: flex !important;
    justify-content: center !important;
    margin-right: auto;
    margin-left: auto;
}

.list li {
    /* display: flex !important;
    justify-content: center !important; */
    text-align: center;
}

.navbar button {
    border: #141619 solid 2px !important;
    color: white;
    text-transform: uppercase;
}

.navbar button:hover {
    background-color: gray !important;

}

.dropdown-menu {
    background-color: #141619 !important;
}

.dropdown-menu:hover {
    background-color: gray !important;
}

.dropdown-menu a:hover {
    background-color: gray !important;
}

body {
    background-color: rgba(20, 22, 25, 1) !important;
}

.main {

    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.div1 h1 {
    font-size: 75px;
    color: white;
    text-align: center;
}

.div1 p {
    color: rgba(229, 229, 229, 1);
    font-size: 18px;
    text-align: center;
}

.div1button {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    color: white;
    border: 1px solid rgba(95, 164, 230, 1);
    border-radius: 3px;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
}

.div1 {
    /* width: 584px;
    height: 400px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    row-gap: 50px;

}



.div1para {
    width: 534px;
}


.div2 {
    color: white;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.div2heading {
    font-size: 56px;
    text-align: center;
}

.div2para {
    font-size: 20px;
    text-align: center;
    width: 612px;
}

.div1n2 {
    display: flex;
    flex-direction: column;
    row-gap: 400px;
}

.tabledata1 h1 {
    font-size: 38px;
}

.tabledata1 p {
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.tabledata1 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-top: 30px;
}

.tabledata2 h1 {
    font-size: 38px;
}

.tabledata2 p {
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
}


.tabledata2 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tabledata3 h1 {
    font-size: 38px;
}

.tabledata3 p {
    font-size: 19px;
}

.tabledata3 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tabledata4 h1 {
    font-size: 38px;
}

.tabledata4 p {
    font-size: 19px;
    padding-left: 35px;
    padding-right: 35px;
}

.tabledata4 {

    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tablesection2data1 {
    width: 264px;
    height: 180px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.tablesection2data1 h1 {
    font-size: 38px;
}

.tablesection2data1 p {
    font-size: 19px;
}

.tablesection2data2 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;
}

.tablesection2data2 h1 {
    font-size: 38px;
}

.tablesection2data2 p {
    font-size: 19px;
}

.tablesection2data3 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;
}

.tablesection2data3 h1 {
    font-size: 38px;
}

.tablesection2data3 p {
    font-size: 19px;
}

.tablesection2data4 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;

}

.tablesection2data4 h1 {
    font-size: 38px;
}

.tablesection2data4 p {
    font-size: 19px;
}

.tablesection1 {

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(20deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center ; */
    margin-top: 50px;
}

.tabledata1:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata2:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata3:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata4:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data1:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data2:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data3:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data4:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.div3 {
    color: white;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.div3heading {
    font-size: 56px;
    text-align: center;
}

.div3para {
    font-size: 20px;
    text-align: center;
    width: 612px;
}


.div4,
.div5 {
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin-top: 150px; */

}


.div5 {
    align-items: center;

}

.div4headpara,
.div5headpara {
    font-size: 36px;
}

.div4boldpara,
.div5boldpara {
    font-weight: bold;
    margin-top: 0px;
}

.div4underlinepara,
.div5underlinepara {
    text-decoration: underline;
    margin-top: 0px;
}

.div4underlinepara i,
.div5underlinepara i {
    font-size: 10px;
}

.div4 img {
    object-fit: contain;
}


.div6m::before {
    content: "";
    
    background-image: url(images/background-blob-service-1.png.png);
/* text-align: center; */
    /* object-fit: cover; */
    position: absolute;
    /* z-index: -1; */
    /* left: 20%; */
    /* bottom: 50px; */
    /* right: 5%; */
    height: 100vh;
    width: 80%;
    /* transform: rotate(45deg); */
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* background-image: url(images/middle-left-2.png.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}



.backgrounddiv1 {
    /* position: relative; */
    /* background-image: url(images/div\ \(3\).png);


    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat; */
}

/* .backgrounddiv2 {
    background-image: url(images/div\ \(3\).png);
    background-position: left;
    background-size: 100%;

    background-repeat: no-repeat;
} */

/* .backgrounddiv3 {
    background-image: url(images/background-blob-service-1.png.png);
    background-position: bottom left;
    background-size: 100%;

    background-repeat: no-repeat;

} */

.div6images {
    position: relative;
}

#div6image1 {
    position: absolute;
    left: 50px;
    width: 73px;
    height: 83px;
    object-fit: cover;

    transform: translate(40px 60px);
}

#div6image3 {

    position: absolute;
    left: 110px;
    top: 100px;

    width: 72px;
    height: 82px;
}

#div6image2 {
    position: absolute;
    top: 140px;
    left: -10px;
    width: 96px;
    height: 96px;
}

.div7 {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.div7images img {
    width: 80px;
    height: 80px;
    margin-top: 40px;
}

.div7image1,
.div7image2,
.div7image3,
.div7image4 {
    border: 2px solid rgba(41, 52, 68, 1);
    background-color: rgba(22, 24, 28, 1);

    width: 192px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.div7image1 h1,
.div7image2 h1,
.div7image3 h1,
.div7image4 h1 {
    font-size: 11px;
    color: rgba(153, 153, 153, 1);
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;
}

.div7images {
    display: flex;
    column-gap: 20px;
    /* width: 38%; */
    /* margin-top: 230px; */
}

.div6heading p {
    color: white;
    font-size: 60px;
    font-weight: 400;
}

/* .div6heading {
    width: 38%;
} */


.div7imagessection2,
.div7image2,
.div7image4 {
    margin-top: 20px;
}

.div8icons i {
    font-size: 50px;
    background: linear-gradient(220deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    color: transparent;
    -webkit-background-clip: text;
    margin: 10px;
}

.div8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

}


.div8 p {
    width: 55%;
}

.div8icons {
    display: flex;
    justify-content: center;

}

.div8 h1 {
    color: white;
    font-size: 57px;
    text-align: center;
}

.div8 p {
    color: white;
    text-align: center;
}

.div8para1 {
    font-size: 20px;
}

.div8para3 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.div8para4 {
    color: white;
    font-size: 14px;

}

.div8para4>span {
    font-weight: bold;
    border-left: 2px solid rgba(102, 102, 102, 1);

}

.div8para2 {
    font-size: 26px;
}

.div9 h1,
.div9 p {
    color: white;
}

.div9headings h1 {
    font-size: 53px;
}

/* .div9para1 ,.div9para2 {
    font-size: 19px;
} */

.div9para3 {
    /* font-size: 18px; */
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(20deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    /* text-decoration: underline; */
    /* text-decoration-color:  linear-gradient(20deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));  */

}

.div9para3 i {
    font-size: 12px;
    background: linear-gradient(120deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    color: transparent;
    -webkit-background-clip: text;

}

.div9 {
    display: flex;

    justify-content: space-between;
    /* background-image: url(images/div\ \(10\).png);
    background-position:left;
    background-size:contain;

    background-repeat: no-repeat; */
}

.div9headings::after {

    /* width: 40%; */
    background-image: url(images/div\ \(10\).png);
    background-position: left;
    background-size: 90%;
    width: 100%;

    background-repeat: no-repeat;
}

/* .div9paras {
    width: 40%;
} */


.div10background {
    /* background-image: url(images/div\ \(12\).png); */
    background-image: url(images/div\ \(14\).png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.div10 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-image: url(images/div\ \(13\).png);
    /* background-image: url(images/div\ \(12\).png); */
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.div10 h1,
.div10 p {
    width: 52%;
    text-align: center;
}

.div10 h1 {
    font-size: 56px;
}

.div10 p {
    font-size: 18px;
}


.footer li {
    color: white;
    list-style: none;
    text-transform: capitalize;
}

.footerh4 {
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer img {
    object-fit: contain;
}



@media only screen and (max-width:1200px) {

    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 30px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 17px;

    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata4 p {

        padding-left: 25px;
        padding-right: 25px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 230px;
        height: 160px;
    }


    .div7images img {
        width: 65px;
        height: 65px;
        margin-top: 35px;
    }

    .div7image1,
    .div7image2,
    .div7image3,
    .div7image4 {


        width: 165px;
        height: 165px;

    }

    .div7image1 h1,
    .div7image2 h1,
    .div7image3 h1,
    .div7image4 h1 {
        font-size: 11px;


        margin-top: 20px;
    }

    .div6heading p {
        font-size: 42px;
        font-weight: 500;
    }

}


@media only screen and (max-width:992px) {
    .navbar form {

        display: flex;
        justify-content: center;
    }

    .div1 h1 {
        font-size: 60px;


    }

    .div1 p {
        font-size: 15px;

    }

    .div1para {
        width: 434px;
    }

    .div1button {
        width: 160px;
        height: 40px;
    }

    .div2heading {
        font-size: 46px;
    }

    .div2para {
        font-size: 17px;
        width: 512px;
    }

    .div3heading {
        font-size: 46px;

    }

    .div3para {
        font-size: 17px;

        width: 512px;
    }

    .div1n2 {
        row-gap: 350px;
    }

    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 25px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 14px;

    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata4 p {

        padding-left: 10px;
        padding-right: 10px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 170px;
        height: 100px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 20px;
    }

    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        padding-top: 0px;
    }

    .div4headpara,
    .div5headpara {
        font-size: 30px;
    }






    .div6image1,
    .div6image2,
    .div6image3 {
        object-fit: cover;
        width: 60px;

    }

    .div7images img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .div7image1,
    .div7image2,
    .div7image3,
    .div7image4 {


        width: 150px;
        height: 150px;

    }

    .div7image1 h1,
    .div7image2 h1,
    .div7image3 h1,
    .div7image4 h1 {
        font-size: 11px;


        margin-top: 10px;
    }

    .div6heading p {
        font-size: 42px;
        font-weight: 500;
    }

    .div7images {

        column-gap: 10px;
    }


    #div6image1 {
        position: absolute;
        left: 30px;
        width: 55px;
        height: 65px;
    }

    #div6image3 {

        position: absolute;
        left: 90px;
        top: 80px;

        width: 54px;
        height: 63px;
    }

    #div6image2 {
        position: absolute;
        top: 110px;
        left: -10px;
        width: 75px;
        height: 75px;
    }

    .div7imagessection2,
    .div7image2,
    .div7image4 {
        margin-top: 10px;
    }

    .div8icons i {
        font-size: 45px;
        margin: 10px;
    }

    .div8icons {
        display: flex;
        justify-content: center;

    }

    .div8 h1 {

        font-size: 50px;

    }


    .div8para1 {
        font-size: 18px;
    }

    .div8para3 {

        font-size: 16px;
    }

    .div8para4 {

        font-size: 12px;

    }



    .div8para2 {
        font-size: 24px;
    }

    .div8 p {
        width: 65%;
    }

    .div10 h1,
    .div10 p {
        width: 60%;

    }

    .div10 h1 {
        font-size: 49px;
    }

    .div10 p {
        font-size: 16px;
    }



    /* 
    
.div9headings h1 {
    font-size: 45px;
}

.div9para1 ,.div9para2 {
    font-size: 15px;
}

.div9para3 {
    font-size: 15px;
    
} */

    /* .div9para3 i {
    font-size: 11px;

} */
}


@media only screen and (max-width:768px) {

    .div1 h1 {
        font-size: 50px;


    }

    .div1 p {
        font-size: 13px;

    }

    .div1para {
        width: 414px;
    }

    .div1button {
        width: 160px;
        height: 40px;
    }


    .div2heading {
        font-size: 36px;
    }

    .div2para {
        font-size: 15px;
        width: 412px;
    }

    .div3heading {
        font-size: 36px;
    }

    .div3para {
        font-size: 15px;
        width: 412px;
    }

    .div1n2 {
        row-gap: 300px;
    }


    .tablesection2 {
        flex-wrap: wrap;
    }

    .tablesection1 {

        flex-wrap: wrap;
        border-bottom: 0;

    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 200px;
        height: 120px;
    }

    .tablesection2data3,
    .tabledata3 {
        border-left: 0;
    }

    .tablesection2data1,
    .tabledata1,
    .tabledata3 {
        border-style: solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(250deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .tablesection2data2,
    .tabledata2,
    .tabledata4 {
        border-style: solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(120deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
        border-top: 0;
        border-right: 0;

    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 30px;
    }

    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        padding-top: 20px;
    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {

        padding-left: 20px;
        padding-right: 20px;
    }


    .div4mainpara,
    .div5mainpara {
        font-size: 15px;
    }

    .div4boldpara,
    .div5boldpara {
        font-size: 15px;
    }

    .div4underlinepara,
    .div5underlinepara {
        font-size: 15px;
    }



    .div4headpara,
    .div5headpara {
        font-size: 25px;
    }

    .backgrounddiv {
        background-position: center;

    }

    .div6image1,
    .div6image2,
    .div6image3 {
        object-fit: cover;
        width: 50px;

    }

    .div7images img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

    .div7image1,
    .div7image2,
    .div7image3,
    .div7image4 {


        width: 120px;
        height: 120px;

    }

    .div7image1 h1,
    .div7image2 h1,
    .div7image3 h1,
    .div7image4 h1 {
        font-size: 11px;


        margin-top: 7px;
    }

    .div6heading p {
        font-size: 32px;
        font-weight: 500;
    }

    .div7images {

        column-gap: 10px;
    }


    #div6image1 {
        position: absolute;
        left: 10px;
        width: 45px;
        height: 55px;
    }

    #div6image3 {

        position: absolute;
        left: 70px;
        top: 60px;

        width: 44px;
        height: 53px;
    }

    #div6image2 {
        position: absolute;
        top: 90px;
        left: -10px;
        width: 65px;
        height: 65px;
    }

    .div7imagessection2,
    .div7image2,
    .div7image4 {
        margin-top: 10px;
    }


    .div8icons i {
        font-size: 40px;
        margin: 10px;
    }



    .div8 h1 {

        font-size: 45px;

    }


    .div8para1 {
        font-size: 16px;
    }

    .div8para3 {

        font-size: 14px;
    }

    .div8para4 {

        font-size: 12px;

    }



    .div8para2 {
        font-size: 22px;
    }


    .div8 p {
        width: 75%;
    }


    .div9headings h1 {
        font-size: 40px;
    }

    .div9para1,
    .div9para2 {
        font-size: 15px;
    }

    .div9para3 {
        font-size: 15px;

    }

    .div9para3 i {
        font-size: 10px;

    }

    .div10 h1,
    .div10 p {
        width: 70%;

    }

    .div10 h1 {
        font-size: 44px;
    }

    .div10 p {
        font-size: 14px;
    }
}



@media only screen and (max-width:576px) {

    .div1 h1 {
        font-size: 35px;


    }

    .div1 p {
        font-size: 12px;

    }

    .div1para {
        /* width: 334px; */
        width: auto;
    }

    .div1button {
        width: 120px;
        height: 25px;
    }

    .div1 {
        row-gap: 30px;
    }


    .div2heading {
        font-size: 25px;
    }

    .div2para {
        font-size: 15px;
        width: auto;
    }

    .div3heading {
        font-size: 25px;
    }

    .div3para {
        font-size: 15px;
        width: auto;
    }


    .div1n2 {
        row-gap: 300px;
    }

    /* 
    .div4mainpara {
        font-size: 12px;
    } */

    .div4 {
        flex-direction: column-reverse;

        justify-content: center;
        row-gap: 20px;


    }

    .div4 img {
        width: 450px;
    }



    .div4leftsection p,
    .div4leftsection h1,
    .div5leftsection p,
    .div5leftsection h1 {
        text-align: center;
    }

    .backgrounddiv {
        background-position: center;
    }

    .div8icons i {
        font-size: 35px;
        margin: 10px;
    }



    .div8 h1 {

        font-size: 40px;

    }


    .div8para1 {
        font-size: 16px;
    }

    .div8para3 {

        font-size: 14px;
    }

    .div8para4 {

        font-size: 12px;

    }



    .div8para2 {
        font-size: 20px;
    }

    .div8 p {
        width: 100%;
    }

    .div9headings,
    .div9para1,
    .div9para2,
    .div9para3main {
        text-align: center;
    }

    .div9headings h1 {
        font-size: 40px;
    }

    .div10 h1,
    .div10 p {
        width: 100%;

    }

    .div10 h1 {
        font-size: 41px;
    }

    .div10 p {
        font-size: 12px;
    }

    /*     
    .div9para1 ,.div9para2 {
        font-size: 13px;
    }
    
    .div9para3 {
        font-size: 12px;
        
    }
    
    .div9para3 i {
        font-size: 10px;
      
    } */


}

@media only screen and (max-width:450px) {

    .div1n2 {
        row-gap: 200px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 130px;
        height: 80px;

    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 15px;
    }

    .tabledata2,
    .tabledata4 {
        padding-top: 5px;
    }

    .tabledata1,
    .tabledata3 {
        padding-top: 10px;
    }



    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 15px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 10px;

    }

    .div4 img {
        width: 250px;

    }

    .div4leftsection p {
        text-align: center;
    }


    .div6image1,
    .div6image2,
    .div6image3 {
        object-fit: cover;
        width: 50px;

    }

    .div6m {
        background-size: 100%;
    }

    .div7 {
        display: block;
    }

    .div7images img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

    .div7image1,
    .div7image2,
    .div7image3,
    .div7image4 {


        width: 120px;
        height: 120px;

    }

    .div7image1 h1,
    .div7image2 h1,
    .div7image3 h1,
    .div7image4 h1 {
        font-size: 11px;


        margin-top: 7px;
    }

    .div6heading p {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }

    .div7images {

        column-gap: 10px;
    }


    #div6image1,

    #div6image3,

    #div6image2 {
        display: none;
    }

    .div7imagessection2,
    .div7image2,
    .div7image4 {
        margin-top: 10px;
    }

    .div7imagessection2 {
        margin-top: 0px;
    }

    .footer {
        /* flex-direction: row-reverse; */
        flex-wrap: wrap-reverse;
        justify-content: center;
        row-gap: 50px;
    }
}