.navbar {
    background-color: #141619;
    color: white !important;
    text-transform: uppercase;

}

.navbar a {
    background-color: #141619;
    color: white !important;
    text-transform: uppercase;
}

.list {
    display: flex !important;
    justify-content: center !important;
    margin-right: auto;
    margin-left: auto;
}

.list li {
    /* display: flex !important;
    justify-content: center !important; */
    text-align: center;
}

.navbar button {
    border: #141619 solid 2px !important;
    color: white;
    text-transform: uppercase;
}

.navbar button:hover {
    background-color: gray !important;

}

.dropdown-menu {
    background-color: #141619 !important;
}

.dropdown-menu:hover {
    background-color: gray !important;
}

.dropdown-menu a:hover {
    background-color: gray !important;
}

.main {
    background-color: rgba(20, 22, 25, 1);
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.div1 h1 {
    font-size: 75px;
    color: white;
    text-align: center;
}

.div1 p {
    color: rgba(229, 229, 229, 1);
    font-size: 18px;
    text-align: center;
}

.div1button {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    color: white;
    border: 1px solid rgba(95, 164, 230, 1);
    border-radius: 3px;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
}

.div1 {
    /* width: 584px;
    height: 400px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    row-gap: 50px;

}



.div1para {
    width: 534px;
}


.div2 {
    color: white;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.div2heading {
    font-size: 56px;
    text-align: center;
}

.div2para {
    font-size: 20px;
    text-align: center;
    width: 612px;
}

.div1n2 {
    display: flex;
    flex-direction: column;
    row-gap: 400px;
}

.tabledata1 h1 {
    font-size: 38px;
}

.tabledata1 p {
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.tabledata1 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-top: 30px;
}

.tabledata2 h1 {
    font-size: 38px;
}

.tabledata2 p {
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
}


.tabledata2 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tabledata3 h1 {
    font-size: 38px;
}

.tabledata3 p {
    font-size: 19px;
}

.tabledata3 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tabledata4 h1 {
    font-size: 38px;
}

.tabledata4 p {
    font-size: 19px;
    padding-left: 35px;
    padding-right: 35px;
}

.tabledata4 {

    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 30px;
}

.tablesection2data1 {
    width: 264px;
    height: 180px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.tablesection2data1 h1 {
    font-size: 38px;
}

.tablesection2data1 p {
    font-size: 19px;
}

.tablesection2data2 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;
}

.tablesection2data2 h1 {
    font-size: 38px;
}

.tablesection2data2 p {
    font-size: 19px;
}

.tablesection2data3 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;
}

.tablesection2data3 h1 {
    font-size: 38px;
}

.tablesection2data3 p {
    font-size: 19px;
}

.tablesection2data4 {
    text-align: center;
    width: 264px;
    height: 180px;
    color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
    padding-top: 40px;

}

.tablesection2data4 h1 {
    font-size: 38px;
}

.tablesection2data4 p {
    font-size: 19px;
}

.tablesection1 {

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(20deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.tabledata1:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata2:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata3:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tabledata4:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data1:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data2:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data3:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.tablesection2data4:hover {
    background-image: linear-gradient(170deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));

}

.div3 {
    color: white;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    /* margin-top: 150px; */
}

.div3heading {
    font-size: 56px;
    text-align: center;
}

.div3para {
    font-size: 20px;
    text-align: center;
    width: 612px;
}

/* .backgrounddiv {
    
background: url(images/background-blob-service-1.png.png);
background-size: cover;

} */

/* .backgrounddiv::after {
    background: url(images/background-blob-service-1.png.png);
    transform: rotate(160deg);
    
    } */

.div4,
.div5 {
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 150px; */

}


.div5 {
    align-items: center;
}

.div4headpara,
.div5headpara {
    font-size: 36px;
}

.div4boldpara,
.div5boldpara {
    font-weight: bold;
    margin-top: 0px;
}

.div4underlinepara,
.div5underlinepara {
    text-decoration: underline;
    margin-top: 0px;
}

.div4underlinepara i,
.div5underlinepara i {
    font-size: 10px;
}

.div4 img {
    object-fit: contain;
}


.div6m {
    background-image: url(images/middle-left-2.png.png);
    background-size: 40%;
    /* background-origin: border-box; */
    background-repeat: no-repeat;
    background-position: top left;

}

.div5images {
    padding-left: 50px;
}

.backgrounddiv1 {
    background-image: url(images/div\ \(3\).png);
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
}

.backgrounddiv2 {
    background-image: url(images/div\ \(3\).png);
    background-position: left;
    background-size: 100%;

    background-repeat: no-repeat;
}

.backgrounddiv3 {
    background-image: url(images/background-blob-service-1.png.png);
    background-position: bottom left;
    background-size: 100%;

    background-repeat: no-repeat;

}

.div6image1 {
    padding: 20px;
    padding-left: 50px;
    padding-right: 0;
}

.div6image3 {

    padding-top: 150px;

}

.div7images img {
    width: 80px;
    height: 80px;
    margin-top: 40px;
}

.div7image1,
.div7image2,
.div7image3,
.div7image4 {
    border: 2px solid rgba(41, 52, 68, 1);
    background-color: rgba(22, 24, 28, 1);

    width: 192px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.div7image1 h1,
.div7image2 h1,
.div7image3 h1,
.div7image4 h1 {
    font-size: 11px;
    color: rgba(153, 153, 153, 1);
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;
}

.div7 {
    display: flex;
    justify-content: space-evenly !important;

}

.div7images {
    display: flex;
    column-gap: 20px;
}

.div7heading h1 {
    color: white;
    font-size: 60px;

}

/* .div7heading {
    width: 30%;
} */


.div7imagessection2,
.div7image2,
.div7image4 {
    margin-top: 20px;
}



@media only screen and (max-width:1200px) {

    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 30px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 17px;

    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata4 p {

        padding-left: 25px;
        padding-right: 25px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 230px;
        height: 160px;
    }


}


@media only screen and (max-width:992px) {
    .navbar form {

        display: flex;
        justify-content: center;
    }

    .div1 h1 {
        font-size: 60px;


    }

    .div1 p {
        font-size: 15px;

    }

    .div1para {
        width: 434px;
    }

    .div1button {
        width: 160px;
        height: 40px;
    }

    .div2heading {
        font-size: 46px;
    }

    .div2para {
        font-size: 17px;
        width: 512px;
    }

    .div3heading {
        font-size: 46px;

    }

    .div3para {
        font-size: 17px;

        width: 512px;
    }

    .div1n2 {
        row-gap: 350px;
    }

    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 25px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 14px;

    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata4 p {

        padding-left: 10px;
        padding-right: 10px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 170px;
        height: 100px;
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 20px;
    }

    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        padding-top: 0px;
    }

    .div4headpara,
    .div5headpara {
        font-size: 30px;
    }


}


@media only screen and (max-width:768px) {

    .div1 h1 {
        font-size: 50px;


    }

    .div1 p {
        font-size: 13px;

    }

    .div1para {
        width: 414px;
    }

    .div1button {
        width: 160px;
        height: 40px;
    }


    .div2heading {
        font-size: 36px;
    }

    .div2para {
        font-size: 15px;
        width: 412px;
    }

    .div3heading {
        font-size: 36px;
    }

    .div3para {
        font-size: 15px;
        width: 412px;
    }

    .div1n2 {
        row-gap: 300px;
    }


    .tablesection2 {
        flex-wrap: wrap;
    }

    .tablesection1 {

        flex-wrap: wrap;
        border-bottom: 0;
        /* border-style: none;
        
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(20deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
     */
    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 200px;
        height: 120px;
    }

    .tablesection2data3,
    .tabledata3 {
        border-left: 0;
    }

    .tablesection2data1,
    .tabledata1,
    .tabledata3 {
        border-style: solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(250deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .tablesection2data2,
    .tabledata2,
    .tabledata4 {
        border-style: solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(120deg, rgba(102, 93, 205, 1), rgba(95, 164, 230, 1), rgba(210, 171, 103, 1));
        border-top: 0;
        border-right: 0;

    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 30px;
    }

    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        padding-top: 20px;
    }

    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {

        padding-left: 20px;
        padding-right: 20px;
    }


    .div4mainpara,
    .div5mainpara {
        font-size: 15px;
    }

    .div4boldpara,
    .div5boldpara {
        font-size: 15px;
    }

    .div4underlinepara,
    .div5underlinepara {
        font-size: 15px;
    }

    /* .div4 img {
        object-fit: contain;
    } */

    .div4headpara,
    .div5headpara {
        font-size: 25px;
    }

    .backgrounddiv {
        background-position: center;
    }

}



@media only screen and (max-width:576px) {

    .div1 h1 {
        font-size: 35px;


    }

    .div1 p {
        font-size: 12px;

    }

    .div1para {
        /* width: 334px; */
        width: auto;
    }

    .div1button {
        width: 120px;
        height: 25px;
    }

    .div1 {
        row-gap: 30px;
    }


    .div2heading {
        font-size: 25px;
    }

    .div2para {
        font-size: 15px;
        width: auto;
    }

    .div3heading {
        font-size: 25px;
    }

    .div3para {
        font-size: 15px;
        width: auto;
    }


    .div1n2 {
        row-gap: 300px;
    }

    /* 
    .div4mainpara {
        font-size: 12px;
    } */

    .div4 {
        flex-direction: column-reverse;

        justify-content: center;
        row-gap: 20px;


    }

    .div4 img {
        width: 450px;
    }



    .div4leftsection p,
    .div4leftsection h1,
    .div5leftsection p,
    .div5leftsection h1 {
        text-align: center;
    }

    .backgrounddiv {
        background-position: center;
    }

    /* .div4 {
        background-image: url(images/div\ \(3\).png);
    }

    .div5 {
        background-image: url(images/div\ \(3\).png);
    } */



}

@media only screen and (max-width:450px) {

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4,
    .tabledata1,
    .tabledata2,
    .tabledata3,
    .tabledata4 {
        width: 130px;
        height: 80px;

    }

    .tablesection2data1,
    .tablesection2data2,
    .tablesection2data3,
    .tablesection2data4 {
        padding-top: 15px;
    }

    .tabledata2,
    .tabledata4 {
        padding-top: 5px;
    }

    .tabledata1,
    .tabledata3 {
        padding-top: 10px;
    }



    .tablesection2data1 h1,
    .tablesection2data2 h1,
    .tablesection2data3 h1,
    .tablesection2data4 h1,
    .tabledata1 h1,
    .tabledata2 h1,
    .tabledata3 h1,
    .tabledata4 h1 {
        font-size: 15px;
    }

    .tablesection2data1 p,
    .tablesection2data2 p,
    .tablesection2data3 p,
    .tablesection2data4 p,
    .tabledata1 p,
    .tabledata2 p,
    .tabledata3 p,
    .tabledata4 p {
        font-size: 10px;

    }

    .div4 img {
        width: 250px;

    }

    .div4leftsection p {
        text-align: center;
    }


}